#cloud-config

# vim: syntax=yaml

#

# ***********************

# 	---- for more examples look at: ------

# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html

# ******************************

#

# This is the configuration syntax that the write_files module

# will know how to understand. encoding can be given b64 or gzip or (gz+b64).

# The content will be decoded accordingly and then written to the path that is

# provided.

#

# Note: Content strings here are truncated for example purposes.

# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com

ssh_pwauth: True

chpasswd:

  list: |

     root:sesamo

  expire: False



users:

  - name: joselaime # Change me (nombre del dominio sin .com)

    ssh_authorized_keys:

      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCeF4CxhBvCIMJ0sy30qZzzX6wv1uWCoZpjPLxmzKhR9Ef4V6FmY6O94r37Jaa0fXLfw8KE/AGz52Las4wpg29au/PYo3GPxZ6MQZYe/FMFakqkFBnyt1jGUQMD16/6ub8fIDTVSTi59Jf+joN55T5uViCTbzW2KkSP+2r8wbS8oEdZkIKlYpzuNCmihwllccBVcB00w8Zr7z4QeyNSutFCKgr7JgkMnPcWUaPy1blL6zrH1+sK644zgqxfBZb+7KgiGZ9ZIEX7RQ6lmloDiejP9JBkPqmZnyVgmB+uK20WMqBbRwYdmMh+bVGDJQM86HlYbeSwpWkQu+9PKYPV3j+f jose@ubuntuserver

    sudo: ['ALL=(ALL) NOPASSWD:ALL']

    shell: /bin/bash

    groups: sudo
